.heading {
  &_tertiary {
    text-transform: uppercase;
    text-align: center;
    background-color: lightblue;
    border-radius: 10px;

    margin: 0.5rem 0rem;
    padding: 0.5rem 0;
    @include respond(tab-land) {
      font-size: 1rem !important;
    }
  }
}
