.user {
  background-color: rgba(3, 117, 248, 0.717);
  //   height: 80vh;
  width: 80%;
  //   padding: 8rem 2rem;
  text-align: center;
  &_con {
    display: flex;
    width: 100%;
    // background-color: aqua;
    padding: 0.5rem;
    @include respond(tab-port) {
      display: flex;
      flex-direction: column !important;
    }
  }
  &_list {
    width: 30%;
    padding: 1rem;
    @include respond(tab-land) {
      padding: 0.6rem;
    }
    @include respond(tab-port) {
      width: 100% !important;
    }
    @include respond(phone) {
      padding: 0.4rem;
    }
    &-sub {
      max-height: 70vh;
      overflow-y: scroll;
      margin-top: 1rem;
      @include respond(tab-land) {
        margin-top: 0.8rem;
      }
      @include respond(tab-port) {
        justify-content: center;
        height: 30vh;
        width: 100%;
      }
      @include respond(phone) {
        height: 30vh;
      }
      &::-webkit-scrollbar {
        display: none;
      }
    }
    // background-color: green;
    &Item {
      width: 60%;
      margin: 0.5rem -0.5rem 0.5rem 0rem;
      background-color: rgba(255, 228, 196, 0.824);
      &:hover {
        background-color: rgb(255, 228, 196);
      }

      border-radius: 15px;
      cursor: pointer;
      &-name {
        @include respond(tab-land) {
          font-size: 0.9rem !important;
        }
        @include respond(phone) {
          font-size: 0.7rem;
        }
      }
    }
  }
}
.avatar {
  &_list {
    height: 2rem;
    width: 2rem;
    margin: 0rem 1rem;
    @include respond(tab-land) {
      height: 1.8rem;
      width: 1.8rem;

      margin: 0rem 0.8rem;
    }
  }
  &_profile {
    height: 10rem;
    width: 10rem;
    margin: 0.5rem;
    @include respond(tab-land) {
      height: 8rem;
      width: 8rem;
    }
    @include respond(phone) {
      height: 4rem;
      width: 4rem;
      margin: 0.2rem 0.2rem;
    }
  }
}
//userProfile

.user {
  &_profile {
    width: 70%;
    // background-color: blue;
    padding: 1rem;
    @include respond(tab-land) {
      padding: 0.6rem;
    }
    @include respond(tab-port) {
      width: 100%;
      // background-color: aquamarine;
    }
    &-main {
      margin: 0.5rem;
      padding: 0.5rem;
      min-height: 70vh;
      @include respond(tab-land) {
        margin: 0.4rem;
        padding: 0.4rem;
        min-height: 60vh;
      }
      @include respond(tab-port) {
        margin: 0.3rem;
        padding: 0.3rem;
        min-height: 30vh;
      }
      //   background-color: rgba(0, 0, 255, 0.381);
      background-color: rgba(255, 228, 196, 0.941);
    }
  }
  &_info {
    display: flex;
    margin: 0rem 0rem 0.5rem 0rem;

    &-box1 {
      width: 35%;
      background-color: white;
      margin-right: 1rem;
      &_name {
        @include respond(tab-land) {
          font-size: 0.8rem !important;
        }
        @include respond(tab-port) {
          font-size: 0.6rem !important;
        }
        @include respond(phone) {
          font-size: 0.4rem !important;
        }
      }
    }
    &-box2 {
      width: 65%;
      //   background-color: lightblue;
      background-color: white;
    }
  }

  &_about {
    // background-color: green;
    background-color: white;
    min-height: 25vh;
    @include respond(tab-port) {
      min-height: 10vh;
    }

    &-text {
      @include respond(tab-land) {
        font-size: 0.8rem !important;
      }
      @include respond(tab-port) {
        font-size: 0.6rem !important;
      }
      @include respond(phone) {
        font-size: 0.4rem !important;
      }
    }
  }
}
.detail {
  //   background-color: orange;
  margin: 0.4rem 0rem;
  @include respond(tab-land) {
    margin: 0.3rem 0rem !important;
  }
  @include respond(tab-port) {
    margin: 0.2rem 0rem !important;
  }
  @include respond(phone) {
    margin: 0.1rem 0rem !important ;
    padding: 0.4rem 0.5rem !important;
  }

  display: flex;
  flex-direction: column;
  &_head {
    // background-color: aqua;
    width: 100%;
    font-weight: 500;
    font-size: 1.1rem;
    @include respond(tab-land) {
      font-size: 0.9rem;
    }
    @include respond(tab-port) {
      font-size: 0.8rem;
    }
    @include respond(phone) {
      font-size: 0.6rem;
    }
  }
  &_text {
    // background-color: red;
    width: 100%;
    background-color: rgba(1, 47, 255, 0.098);
    padding: 0.5rem;
    @include respond(tab-land) {
      font-size: 0.7rem;
      padding: 0.4rem;
    }
    @include respond(tab-port) {
      font-size: 0.6rem;
    }
    @include respond(phone) {
      font-size: 0.4rem;
      padding: 0.2rem;
    }
  }
}
.blank {
  // background-color: aqua;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 500;
  @include respond(tab-land) {
    font-size: 1.6rem;
  }
  @include respond(tab-port) {
    font-size: 1.2rem;
  }
  @include respond(phone) {
    font-size: 0.8rem;
  }
}
.active_class {
  background-color: red !important;
}
